/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* ... diğer import'ların ve kodların altında ... */

/* Bildirim (Snackbar) Renkleri */
.error {
    background-color: #f44336; /* Kırmızı */
    color: white;
  }
  
  .success {
    background-color: #4caf50; /* Yeşil */
    color: white;
  }
  
  .info {
    background-color: #2196f3; /* Mavi */
    color: white;
  }